* @midnightntwrk/mn-techwriting @midnightntwrk/mn-devrel @nebelsprachen @nicos-shielded

/docs/develop/reference/compact/lang-ref.mdx @midnightntwrk/mn-codeowners-compact @nebelsprachen @nicos-shielded
/.github/ISSUE_TEMPLATE/ @midnightntwrk/mn-security @midnightntwrk/mn-sre @nebelsprachen @nicos-shielded
/.github/PULL_REQUEST_TEMPLATE/ @midnightntwrk/mn-security @midnightntwrk/mn-sre @nebelsprachen @nicos-shielded
/.github/workflows/checkmarx.yaml @midnightntwrk/mn-security @midnightntwrk/mn-sre @nebelsprachen @nicos-shielded
/.github/workflows/dependabot.yml @midnightntwrk/mn-security @midnightntwrk/mn-sre @nebelsprachen @nicos-shielded
CODE_OF_CONDUCT.md @midnightntwrk/mn-security @midnightntwrk/mn-sre @nebelsprachen @nicos-shielded
CODEOWNERS @midnightntwrk/mn-security @midnightntwrk/mn-sre @nebelsprachen @nicos-shielded
CONTRIBUTING.md @midnightntwrk/mn-security @midnightntwrk/mn-sre @nebelsprachen @nicos-shielded
LICENSE @midnightntwrk/mn-security @midnightntwrk/mn-sre @nebelsprachen @nicos-shielded
SECURITY.md @midnightntwrk/mn-security @midnightntwrk/mn-sre
