* @midnightntwrk/mn-techwriting @midnightntwrk/mn-devrel @midnightntwrk/mn-codeowners-docs

/docs/compact/ @midnightntwrk/mn-codeowners-compact @midnightntwrk/mn-codeowners-docs
/.github/ @midnightntwrk/mn-security @midnightntwrk/mn-sre
package.json @midnightntwrk/mn-techwriting @midnightntwrk/mn-devrel @midnightntwrk/mn-codeowners-docs @midnightntwrk/mn-security @midnightntwrk/mn-sre
yarn.lock @midnightntwrk/mn-techwriting @midnightntwrk/mn-devrel @midnightntwrk/mn-codeowners-docs @midnightntwrk/mn-security @midnightntwrk/mn-sre
CODE_OF_CONDUCT.md @midnightntwrk/mn-security @midnightntwrk/mn-sre @midnightntwrk/mn-codeowners-docs
CODEOWNERS @midnightntwrk/mn-security @midnightntwrk/mn-sre
CONTRIBUTING.md @midnightntwrk/mn-security @midnightntwrk/mn-sre @midnightntwrk/mn-codeowners-docs
LICENSE @midnightntwrk/mn-security @midnightntwrk/mn-sre
SECURITY.md @midnightntwrk/mn-security @midnightntwrk/mn-sre
