.sdkGrid {
    display: grid;
    gap: 2rem;
    margin: 2rem 0;
  }
  
  @media (max-width: 996px) {
    .sdkGrid {
      grid-template-columns: 1fr;
    }
  }
  
  @media (min-width: 997px) and (max-width: 1400px) {
    .sdkGrid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  