name: Build

on:
  pull_request:
  workflow_dispatch:

env:
  ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
  ALGOLIA_INDEX_NAME: ${{ secrets.ALGOLIA_INDEX_NAME }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: yarn
          cache-dependency-path: |
            **/yarn.lock
            **/.yarnrc.yml

      - name: Enable Corepack
        run: corepack enable

      - name: Yarn version
        run: node .yarn/releases/yarn-4.5.1.cjs --version

      - name: Install deps (immutable)
        run: yarn install --immutable

      - name: Build
        run: yarn build
